Leningrad_2_Expansion/.DS_Store
Leningrad_2_Expansion/pcbway_production/.DS_Store
.DS_Store
/Leningrad_2_Expansion/Leningrad_2_Expansion-backups
Leningrad_2_Expansion/Leningrad_2_Expansion.kicad_prl
Leningrad_2_Expansion/fp-info-cache
ZX_Spectrum_Pioneer-2_Keyboard/ZX_Spectrum_Pioneer-2_Keyboard.kicad_prl
/ZX_Spectrum_Pioneer-2_Keyboard/ZX_Spectrum_Pioneer-2_Keyboard-backups
/Orel_BK_DIN-to-VGA/Orel_BK_DIN-to-VGA-backups
Orel_BK_DIN-to-VGA/Orel_BK_DIN-to-VGA.kicad_prl
RGB_to_VGA/fp-info-cache
/RGB_to_VGA/RGB_to_VGA-backups
RGB_to_VGA/RGB_to_VGA.kicad_prl
Nafanya/Nafanya_Keyboard/fp-info-cache
/Nafanya/Nafanya_Keyboard/Nafanya_Keyboard-backups
*.kicad_prl
/Leningrad_2_DIN-to-VGA/Leningrad_2_DIN-to-VGA-backups
/LUT216/DIN-to-VGA/LUT216_DIN-to-VGA-backups
/Kvant_BK_DIN-to-HDMI/Kvant_BK_DIN-to-HDMI-backups
/Kvant_BK_DIN-to-VGA/Kvant_BK_DIN-to-VGA-backups
/Kvant_BK_Keyboard/Kvant_BK_Keyboard-backups
Leningrad_2_DIN-to-VGA/fp-info-cache
Kvant_BK_Keyboard/fp-info-cache
Kvant_BK_DIN-to-VGA/fp-info-cache
/Astra/KiCad/Astra-backups
/Astra/AstraPad/AstraPad-backups
*.lck
/ESP32_Rainbow_Nunchuck_Interface/Nunchuck_QWIIC_Adaptor/Nunchuck_QWIIC_Adaptor-backups
/Moldova_BYTE_DIN-to-VGA/Red_BYTE_7-pin_DIN/Red_BYTE_7-pin_DIN-backups
*.kicad_prl
